<aside class="bg-light">
  <ul class="nav flex-column list-unstyled">
    <li class="nav-item mb-2">
      <a class="nav-link btn btn-light btn-block text-black" routerLink="/home" [translate]="'sidebar.home'">
        <i class="fas fa-home me-2"></i> Home
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link btn btn-light btn-block text-black" routerLink="/user-management" [translate]="'sidebar.manageUsers'">
        <i class="fas fa-users me-2"></i> Manage Users
      </a>
    </li>
  </ul>
</aside>
